<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link href="/static/styles.css" rel="stylesheet"/>
    <title>SatanChurch</title>
</head>

<body style="text-align: center; font-family: sans-serif">
<hr>
<img src="/pictures/aaaaa.png" width="500" height="500">
<hr>

<div id="footer">
    Copyright &copy; 2021 Voldemar
</div>
</body>
</html>